.svg-box{
    display:flex;
    justify-content:center;
  }  
  
  .svg-loader{
          width: 200px;
      height: 100%;
      stroke: #000;
      stroke-width: 5px;
      fill: transparent;
      animation: draw 5s linear infinite;
      stroke-dasharray: 100;
      stroke-dashoffset: 1000;
      margin-left:20px;
  
      }
  
      
      @keyframes draw{
          to{
            stroke-dashoffset: 0
          }
      }
  .circle1, .circle2{
    stroke:#36373e;
  }
  